# Python / compiled / optimized
*.py[cod]

# C extensions
*.so

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Eclipse IDE
.project
.pydevproject

# PLY
parsetab.py

# Mac directory info
.DS_Store

# Game preferences
preferences.gz

# ppython.exe path configuration
PPYTHON_PATH
