# Python / Compiled / Optimized
# *.py[cod]

# C extensions
*.so

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Eclipse IDE
.project
.pydevproject

# PLY
parsetab.py

# Toontown Infinite Retro
PPYTHON_PATH
