# Python / Compiled / Optimized
*.py[cod]

# C extensions
*.so

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Eclipse IDE
.project
.pydevproject

# PLY
parsetab.py

# Toontown Infinite Retro
PPYTHON_PATH
*.txt
resources/phase_3/maps/tt_t_gui_pat_background.psd